<%= form_for(@expense) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :supplier %><br />
    <%= f.text_field :supplier %>
  </div>
  <div class="field">
    <%= f.label :invoice_number %><br />
    <%= f.text_field :invoice_number %>
  </div>
  <div class="field">
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :unit_price %><br />
    <%= f.number_field :unit_price %>
  </div>
  <div class="field">
    <%= f.label :total_amount %><br />
    <%= f.number_field :total_amount %>
  </div>
  <div class="field">
    <%= f.label :payment_method %><br />
    <%= f.text_field :payment_method %>
  </div>
  <div class="field">
    <%= f.label :payment_status %><br />
    <%= f.text_field :payment_status %>
  </div>
  <div class="field">
    <%= f.label :account_affected %><br />
    <%= f.text_field :account_affected %>
  </div>
  <div class="field">
    <%= f.label :purchased_by %><br />
    <%= f.text_field :purchased_by %>
  </div>
  <div class="field">
    <%= f.label :authorized_by %><br />
    <%= f.text_field :authorized_by %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
