<%= form_for(@repair) do |f| %>
  <% if @repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
      <% @repair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :garage %><br />
    <%= f.text_field :garage %>
  </div>
  <div class="field">
    <%= f.label :details_of_service %><br />
    <%= f.text_field :details_of_service %>
  </div>
  <div class="field">
    <%= f.label :vehicle_number %><br />
    <%= f.text_field :vehicle_number %>
  </div>
  <div class="field">
    <%= f.label :invoice_number %><br />
    <%= f.text_field :invoice_number %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
