<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Skip rails admin initializer=false:</b>
  <%= @account.SKIP_RAILS_ADMIN_INITIALIZER=false %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
